/* resets */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* general */
body {
  font-family: 'Smythe', cursive;
  padding: 1rem;
}
.app-container {
  margin: 2rem auto;
  max-width: 500px;
  border: 1px solid black;
}
/* headeer */
header {
  background-image: url('./images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png');
  color: white;
  padding: 2rem 3rem;
}
header h1 {
  font-weight: 400;
  font-size: 39px;
}
header p {
  font-size: 22px;
}
